@charset "utf-8";
/*M3LO1 Demonstrate the use of a CSS reset style sheet (CSS, note where you have CSS reset rules)
this is just a really simple one that makes sure all text is the right size and in the right position*/
/*M3LO9 Demonstrate fixed, static, or inherited positioning (CSS, note explicit use of one of the three in your CSS and what the impact is on the HTML)
all text is set to static unless stated otherwise in styles.css, layout.css, or html files*/
html {
    margin: 0;
    border: 0;
    padding: 0;;
    background: transparent;
    font-size: 1em;
    position: static;
}
